.hello {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto;
  font-size: 80px;
  transform: translate(-50%, -50%);
  color: #77A2BC;
  padding: 40px;
  border: 2px dashed white;
  background-image: linear-gradient(270deg, #646292, #AEE1E2,  #AEE1E2, #646292);
  text-shadow: 5 5 30px white;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.hello:hover {
  border: 2px dashed white;
  text-shadow: 0 0 30px #728CA7;
  color: white;
  -webkit-background-clip: none;
  -moz-background-clip: none;
  background-clip: none;
  -webkit-text-fill-color: white; 
  -moz-text-fill-color: white;
  background-image: white;
}
